<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Audit Logs - DevOps Hub</title>
		<link rel="stylesheet" href="../static/css/output.css" />
		<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
		<link
			rel="shortcut icon"
			href="../static/images/idp-icon.svg"
			type="image/x-icon"
		/>
	</head>

	<body class="h-screen bg-base-200 flex flex-col">
		<div
			id="banner-component"
			hx-get="/ui/components/banner"
			hx-trigger="load"
			hx-swap="outerHTML"
		></div>

		<div class="flex flex-1 min-h-0 overflow-hidden">
			{% include "partials/components/sidebar.html" with context %}
			{% include "partials/components/audit-logs-container.html" %}
		</div>
	</body>
</html>
