<!doctype html>
<html lang="en" data-theme="nord">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Audit Logs - DevOps Hub</title>
		<link rel="stylesheet" href="../static/css/output.css" />
		<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
		<link
			rel="shortcut icon"
			href="../static/images/devopshub-favicon.png"
			type="image/png"
		/>
	</head>

	<body class="h-screen bg-base-200 flex flex-col">
		{% include 'partials/components/banner.html' with context %}

		<div class="flex flex-1 min-h-0 overflow-hidden">
			{% include "partials/components/sidebar.html" with context %}
			{% include "partials/components/audit-logs-container.html" %}
		</div>
	</body>
</html>
